body {
	overflow: hidden;
	background-color: #929292;
	widows: auto;
	margin: 0;
	padding: 0;
}
hr {
	margin-top: 18px;
	width: 30%;

}

/*----------------顶部标题----------------*/

.up {
	font-family: 华文新魏;
	color: #FFFFFF;
}
.up .lu {
	display: block;
	font-size: 40px;
	position: relative;
	top: 21px;
	left: 36%;
}
.up .lu a {
	text-decoration: none;
	color: #FFFFFF;
	font-style: italic;
	transition: all 0.5s;
}
.up .lu a:hover {
	overflow: hidden;
	letter-spacing: 10px;
}

.up .duya {
	display: block;
	position: relative;
	top: -4px;
	right: -57%;
}
.up .duya {
	text-shadow: 2px 2px 2px #F1F1F1;	
}

/*----------------导航栏----------------*/

.nav {
	list-style-type: none;
	padding: 0;
	margin: 20px 0 0 5%;
	overflow: hidden;
	background-color: #464646;
	width: 90%;
	box-shadow: 0 4px 8px 0 #000000;
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	padding: 18px 97px;
	text-decoration: none;
	color: #CDCBCB;
	font-family: 楷体;
	transition: all 0.7s;
}
.nav li a:hover {
	background-color: #646363;
}

/*-------------二级菜单-----------*/

.down3 {
	display: none;
	text-align: center;
	position: absolute;
	width: 260px;
	background-color: #464646;	
	box-shadow: 0 4px 8px 0 #252525;

}
.nav_top3 {
	transition: all 1s;
}
.nav_top3:hover .down3 {
	display: block;
}

.men {
	width: 90%;
	height: 500px;
	background-color: #BBBBBB;
	margin: 30px 5% 0 5%;
}