* {
	margin: 0;
	padding: 0;
}
#img_ku {
	list-style-type: none;
	display: flex;
	width: 300px;
	height: auto;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	float: left;
	margin: 15% 0 0 10%;
}
#img_ku li {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#img_ku>li>a {
	text-decoration: none;
	color: #5E5E5E;
	text-shadow: 1px 1px 1px;
	font-size: 20px;
}
#img_ku li a:hover {
	font-size: 23px;
}

#fu {
	position: absolute;
	float: right;
	width: 145px;
	height: auto;
	margin: 15% 10%;
	box-shadow: 2px 2px 3px 2px;
}

