html {margin: 0; padding: 0;}
body {width: 1260px; height: 600px;}
.picT {height: 120px;}
.picT h1 {display: block; text-align: center; }
.picT ul {display: block; height: 50px; list-style-type: none;  text-align: center; background-color: #B2B0B0; padding: 0;}
.picT .Sli {float: left; background-color: #003366; display: block; width: 104px; height: 50px; line-height: 50px; border-right: 1px solid #3399CC;}
.Ta {display: block; text-decoration: none; color: #FFF; padding: 0 10px 0 10px;}
.Ta:hover {background-color: #cccccc; font-size: 20px;}

.picR {height: 587px;}
.picR h1 {text-align: center;}
.picR img {display: block; margin: 0 auto;}