/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

.header {
	width: 500px;
	height: auto;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}
.but {
	width: 80px;
	height: 60px;
	border: 2px solid #000;
	outline:none;
	background: #fff;
	color: #000;
	justify-content: center;
	margin-top: 10px;
}
.but:hover {
	background: #000;
	color: #fff;
	transition: 0.5s;
	cursor: pointer;
}
.but:active {
	opacity: 0.7;
	transition: 0.5s;
}

.obox {
	width: 400px;
	height: 400px;
	background: #FFf;
	margin: 0 auto;
	margin-top: 50px;
	border: 3px solid #000000;
}